<!-- CleverStack: Account/User Confirmation -->
<div>
  <h4><%= companyName %>: Account Confirmation</h4>
  <p>Hi <%=firstname%>,</p>
  <p>We have received your request to join CleverStack, Please click on the link below to activate your account.</p>

  <p><code><a href="<%= link %>"><%= link %></a></code></p>

  <p>If clicking the link doesn't seem to work, you can copy and paste the link below into your browser's address window, or retype it there.</p>

  <p>Sincerely, <br />
    <%= companyName %>
  </p>
</div>
