<!-- CleverStack: Password reset -->
<div>
  <h4><%= companyName %>: Password reset</h4>
  <p>Hi <%=firstname%>,</p>
  <p>
    We have received your password reset request. To change the <span>password</span> on your account registered under the email <%=email%>, please <a href="<%= link %>">click here</a>.
  </p>
  
  <p>If you did not request to have your <span>password</span> <span>reset</span> you can safely ignore this email. Rest assured your account is safe.</p>

  <p>If clicking the link doesn't seem to work, you can copy and paste the link below into your browser's address window, or retype it there. Once you have returned to <%= companyName %>, we will give instructions for <span>resetting</span> your <span>password</span>.</p>

    <p><code><a href="<%= link %>"><%= link %></a></code></p>
  
  <p>Sincerely, <br />
    <%= companyName %>
  </p>
</div>
